#container {
    max-width: 1280px;
    margin: auto;
}


#marketing {
    grid-area: marketing;
}

#menu {
    grid-area: menu;
}

#socialmedia {
    grid-area: socialmedia;
}

#background1 {
    grid-area: background1;
}

#background2 {
    grid-area: background2;
}

#biography {
    grid-area: biography;
}

#word {
    grid-area: word;
}

#grid1 {
    display: flex;
}

.topnav {
    display: flex;
    width: 2000px;
    height: 30%;
}

#background1 {
    display: flex;
    margin-top: 35px;
    margin-left: 100px;
}

#content {
    display: flex;
    height: 70%;
    width: 50%;
}

#content1 {
    width: 100%;
    height: 30%;
    display: flex;
}

#socialmedia {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin-left: 100px;
}

#marketing {
    display: flex;
}

#marketing h3 {
    display: block;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

#menu {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 50px;
}

#menu a {
    font-size: 15px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 10px;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 310px;
    width: 10%;
}

.icon img {
    padding: 20px;
}


.menu {
    width: 50%;
    background-image: url(../homework/images/Bg\ Shape@2x.png);
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
}


.content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.content h1 {
    font-size: 60px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #494949;
}

.content h5 {
    font-weight: 10;
    font-size: 50px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #4b4b4bec;
}

.content p {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: darkgray;
}

.content a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-image: url(../homework/images/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    color: white;
    width: 220px;
    height: 50px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.mouse {
    display: flex;
    padding: 20px;
}

#mousebutton {
    background-image: url(../homework/images/mouse@2x.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
    bottom: 200;
    right: 800px;
}

.vl {
    border-left: 8px solid blue;
    height: 50px;
    position: absolute;
    left: 25px;
    margin-top: 250px;
}

#grid2 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-image: url(../homework/images/who\ we\ are\ background@2x.png);
}


#biographybtn1 {
    display: flex;
    flex-direction: column;
}

#biographybtn1 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#biography {
    width: 100%;
    height: 100%;
}

.biodiv {
    width: 50%;
    margin-right: 5px;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 20px;
}

.biodiv h4 {
    color: rgba(148, 143, 225, 255);
}

.biodiv h1 {
    color: #494949
}

#biographybtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 710px;
    top: 1150px;
    width: 500px;
}

#biographybtn .button {
    background-size: 150px;
    width: 150px;
    height: 35px;
    font-size: 15px;
}

#biographybtn a {
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg2 {
    width: 50%;
    height: 50%;

}

.column0 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#grid3 {
    margin-top: 100px;
    background-image: url(../homework/images/background@2x.png);
    background-size: cover;
    background-size: 100%;
}



#word {
    margin-left: 30px;
}

#word h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 18px;
    margin-top: 0px;
}

#word h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148, 143, 225, 255);
    margin: 0px;
}

.service {
    margin-top: 20px;
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: rgb(219, 219, 219) solid 2px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
}

.empty {
    height: 200px;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.service a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    background-size: 100px;
}

.service img {
    width: 60px;
    height: 60px;
}

.biographybtn .button {
    margin-top: 20px;
    width: 100px;
    height: 25px;
    font-size: 10px;
}

.page4 {
    background-color: rgba(236, 234, 255, 255);
}

.price {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;

}

.package {
    display: flex;
    height: 500px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}


.package1 {
    margin-top: 20px;
    margin: 3%;
    width: 30%;
    height: 400px;
    align-items: center;
    border: rgb(255, 255, 255) solid 2px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

#package1 {
    margin-top: 20px;
    margin-left: 20px;
    margin: 3%;
    width: 30%;
    height: 400px;
    align-items: center;
    border: rgb(255, 255, 255) solid 2px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}


.package1 button {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
}

#package1 button {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-image: url(../homework/images/Rectangle\ 8@2x.png);
    background-size: cover;
    border: 1px solid black;
    border-radius: 25px;
}

.packagecontent {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.package1 h2 {
    font-size: 40px;
    margin-top: 75px;
    color: blue;
    font-family: 'Lato', sans-serif;
}

#package1 h2 {
    font-size: 40px;
    margin-top: 75px;
    color: blue;
    font-family: 'Lato', sans-serif;
}

.package1 h4 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

#package1 h4 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.package1 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(150, 155, 170, 255);
    margin-top: 50px;
}

#package1 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(150, 155, 170, 255);
    margin-top: 50px;
}

.price {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    color: rgba(72, 72, 72, 255);
}

.price p {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: rgba(148, 143, 225, 255);
    margin: 0px;
    margin-top: 40px;
}

.pg4_dot {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pg4_dot .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.pg4_dot .dot:hover {
    height: 15px;
    width: 15px;
    background-color: #717171;
}


.footer {
    width: 100%;
}

.footer1 {
    height: 200px;
}

.news {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.footer h4 {
    font-weight: 900;
    color: rgba(148, 143, 225, 255);
    margin: 0px;
    margin-top: 40px;
}

.footer1 p {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer1 p span {
    font-weight: 900;
}

.footer1 form input[type=text] {

    font-weight: 400;
    width: 350px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(246, 247, 251, 255);
    padding: 7px 15px;
}

.footer form input[type=submit] {

    font-weight: 400;
    margin-top: 30px;
    width: 100px;
    height: 35px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(50, 42, 189, 255);
    color: white;
    cursor: pointer;
}

.footer2 {
    display: flex;
    background-image: url("../homework/images/footer.png");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-evenly;
}

.f1 {
    display: flex;
}

.f2 {
    display: flex;
}


.icon2 {
    font-size: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.icon2 h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 4px;
    color: white;

}

.icon2 h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;

}

.icon2 span {
    padding: 10px
}

.link {
    margin-top: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: aliceblue;
}

.link a {
    padding-top: 15px;
    color: aliceblue;
    text-decoration: none;
}

.link h4 {
    color: aliceblue;
}

.hour a {
    padding-top: 15px;
    color: aliceblue;
}

.hour {
    margin-top: 200px;
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 15px;
    color: aliceblue;
}


.hour h4 {
    color: aliceblue;
}

.contact {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.contact>div {
    margin-top: 20px;
}

.contact a {
    padding-top: 15px;
    color: aliceblue;
    text-decoration: none;
}

.contact h4 {
    color: aliceblue;
}

@media screen and (max-width: 600px) {
grid3{
    display: flex;
    flex-wrap: wrap;
}

.word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin: auto;
}

.pg4_dot{
    display: none;
}


.package{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1;
}

.package1{
    width: 90%;
}

#package1{
    width: 90%;
}

.footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price{
    margin-bottom: 100px;
}

.page4{
    height: 100%;
}
    .service a {
        margin-left: 0;
    }
    
    .bg2{
        display: none;
    }

    .column0{
        text-align: center;
    }

    .biographybtn1{
        text-align: center;
    }

    .footer2{
       
            background-image: url(../homework/images/footer.png);
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            display: flex;
            flex-wrap: wrap-reverse;
}
#background1{
    display: none;
}

.mouse{
    display: none;
}

.menu {
    width: 10%;
    background-image:none;

    color: black;
    font-weight: 600;
    text-align: center;
}

#menu{
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-top: 120px;
}

#menu a{
    color: black;
    
    flex-direction: column;
}



}
@media screen and (max-width: 1000px) and (min-width: 600px) {
    .service {
        width: 45%;
        height: 500px;
    }

    .package {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .package1 {
        width: 40%;
        margin: 30px;
    }

    #package1 {
        width: 40%;
    }

    .page4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 1200px;
    }


    .column0 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #grid2 {
        display: flex;
        justify-content: space-between;
    }

    #biography {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .biodiv {
        width: 100%;
    }

    .bg2 img {
        width: 100%;
        height: 100%;
    }

    #biographybtn1 {
        display: flex;
        align-items: center;
    }
}