body,html{
height: 100%;
margin: 0;
}

#container {
    background-image: url(../images/forest.jpg);
    background-size: cover;
    position: relative;
  }

  div.sticky {
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    height: 70px;
    border: #000 solid 2px;
  }
  


  #logo{
    width: 30%;
  }

  .icon a{
    margin-right: 0px;
  }

.nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     color: antiquewhite;
}

div.relative {
    position: relative;
    height:520px;
  }

div.center {
    position: absolute;
    top: 28%;
    left: 29%;
    width: 40%;
    text-align: center;
  }

.center p{
  font-size: 20px;
}

.icon{
  display:flex;
  width:95%;
}

.icon a{
font-size: 8px;
color: aliceblue;
text-decoration: none;
}

div.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 10px;
  font-size: 10px;
  flex-direction: row;
  display: flex;
}

div.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  border: rgb(252, 252, 252) dotted 2px;
}

div.bottomleft a{
  color: aliceblue;
}

p{
    color: aliceblue;
    font-size: small;
}