.blog { grid-area: blog; }
.logo { grid-area: logo; }
.phone { grid-area: phone; }
.menu { grid-area: menu; }
.slideshow { grid-area: slideshow; }
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'blog blog blog blog'
    'logo space space phone'
    'logo menu menu menu'
    'slideshow slideshow sidebar sidebar'
    'content content sidebar sidebar'
    'footer footer footer footer ';
    
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.sidebar{
  height: 400px;
}

.footer{
  height:200px;
}